<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CarcaCodeClan Tile API</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/tile_back_c.jpg">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
